language: python
python:
  - "3.6"
 
os:
  - linux
dist:
  - xenial
compiler:
  - gcc

# install dependencies

addons:
  apt:
    update: true
    packages:
      - libhdf5-serial-dev
      - zlib1g-dev
      - libatlas-base-dev
      - lcov
      - swig3.0

install:
  - mkdir -p ~/bin/ && ln -s /usr/bin/swig3.0 ~/bin/swig && export PATH=~/bin/:$PATH
  - pip3 install --upgrade setuptools wheel pkgconfig
  - pip3 install --upgrade jupyter # for jupyter notebooks
  - pip3 install --upgrade -r ./.travis_pip_reqs.txt
  - pip3 install .

# run tests
script:
<<<<<<< HEAD
<<<<<<< HEAD
  - python3 -m flake8 --exclude=build,doc,example,tmp
=======
  - python3 -m flake8 --exclude=build,doc,example,tmp,amici_models
>>>>>>> ICB-DCM/master
  - xvfb-run -a python3 -m pytest --cov=pypesto ./test
=======
  - python3 -m flake8 --exclude=build,doc,example,tmp,amici_models
<<<<<<< HEAD
  - travis_wait 20 xvfb-run -a python3 -m pytest --cov=pypesto ./test
>>>>>>> ICB-DCM/develop
=======
  - travis_wait 20 python3 -m pytest --cov=pypesto ./test/test_*
  - travis_wait 20 xvfb-run -a python3 -m pytest --cov=pypesto --cov-append ./test/visualize/test_*
>>>>>>> ICB-DCM/master
  - coverage xml
  - test/run_notebook.sh doc/example/

after_success:
  - bash <(curl -s https://codecov.io/bash)

deploy:
  provider: pypi
  username: $TWINE_USERNAME
  password: $TWINE_PASSWORD
  on:
    tags: true
  skip_existing: true

# cache dependencies

cache: pip
