name: Build and Push Docker Image

on:
  push:
    branches:
      - develop
    paths:
      - 'docker/**'
      - '.github/workflows/docker-publish.yml'
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@v5

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and tag the Docker image
        run: |
          docker build -t stephanmg/pypesto:latest -f docker/Dockerfile .

      - name: Push the Docker image to Docker Hub
        run: |
          docker push stephanmg/pypesto:latest
